@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');

html{
   background-color: #61717f;
}
.titre{
    text-align: center;
    text-decoration: underline; 
    font-family: "Playwrite MX"; 
    color: #e2e0d1;
}

.réservation{
    font-family: "Inknut Antiqua";
    display: flex; 
    border-radius: 10px;
}

.réservation{
    display: flex; 
    align-items: center; 
    flex-direction: column;
    border: 1px solid #fff;
    width: 660px;
}