@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');

*{
   background-color:#8e8482; 
   padding: 20px; 
   font-family: "InknutAntiqua";
}
.titre{
    font-family: 'Playwrite MX'; 
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}
.formulaire{
    font-family: "Inknut Antiqua";
    display: flex;
    text-align: center; 
    padding: 50px;
    border: 1px solid #fff; 
    width: 200px;
    position: absolute; 
    right: 800px;
    background-color: #454b26;
    border-radius: 20px;
    color: #fff;
    display: flex; 
    flex-direction:column;
    gap: 30px;
};

