@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #7b8470;
    color:#f0ebe1;
}

.titre-principal{
    font-family: "Playwrite MX"; 
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline; 
}

.images{ 
    display: flex;
    gap: 650px;
    justify-content: space-around;
    animation-name: fade-in; 
    animation-duration: 8s; 
}
@keyframes fade-in {
    from{
        opacity: 0; 
    }
    to{
        opacity: 1;
    }
}

img{
    border-radius: 60px;
    width: 30%;
}

li{
    list-style: none;
}
.navigation ul{
    display: flex;
    gap:10px;
}
.navigation{
    font-family: "Inknut Antiqua";
    position: absolute;
    top: 20px;
    cursor: pointer;
}

.présentation{
    position: absolute;
    top:100px;
    left: 45%;
    font-family: "Inknut Antiqua";
    text-decoration: underline; 
}
.text-1{
    position: absolute;
    display: flex;
    font-size: 20px;
    left:200px;
    top: 200px;
    width: 700px;
    font-family: "Inknut Antiqua"; 
    animation-duration: 5s;
    animation-name: slidein;
    color: #f0ebe1;
}
@keyframes slidein{
    from {
        left: 900px;
    }

}
@media screen and (min-width: 400px) {
    .text-1 {
        left: 140px;
        width: 600px;
    }
    .navigation{
        left: 540px;
    }
    .présentation{
        align-items: center;
    }
}
@media screen and (min-width:375px){
    .navigation{
        left: 540px
    }
    .text-1{
        left: 140px;
    }
}

@media screen and (min-width: 768px) {
    .navigation{
        left: 590px;
    }
    .text-1{
        left: 330px;
    }
}
@media screen and (min-width: 1920px) {
    .navigation {
        position: absolute; 
        left: 1200px;
    }
    .images {
        gap: 500px;
    }
    .text-1 {
        position: absolute; 
        left: 700px;
        width: 600px;
    }
}
