@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #7b8470;
    color:#f0ebe1;
}

.titre-principal{
    font-family: "Playwrite MX"; 
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline; 
}

.images{ 
    display: flex;
    gap: 700px;
}
img{
    border-radius: 60px;
    width: 30%;
}
li{
    list-style: none;
}
.navigation ul{
    display: flex;
    gap:20px;
}
.navigation{
    font-family: "Inknut Antiqua";
    position: absolute;
    top: 20px;
    right: 100px;
}

.présentation{
    position: absolute;
    top:100px;
    left: 45%;
    font-family: "Inknut Antiqua";
    text-decoration: underline; 
}
.text-1{
    position: absolute;
    display: flex;
    font-size: 20px;
    left: 575px;
    top: 200px;
    width: 700px;
    font-family: "Inknut Antiqua"; 
    animation-duration: 8s;
    animation-name: slidein;
    color: #f0ebe1;
}
@keyframes slidein{
    from {
        margin-left: 200%
    }
}