@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #7b8470;
    color:#f0ebe1;
}

.titre-principal{
    font-family: "Playwrite MX"; 
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline; 
}

.images{
    display: flex; 
    justify-content: space-between;
    position: relative; 
    margin: 0; 
    padding: 0;
}
img{
    border-radius: 60px;
    width: 30%;
}
li{
    list-style: none;
}
.navigation ul{
    display: flex;
    gap:20px;
}
.navigation{
    font-family: "Inknut Antiqua";
    position: absolute;
    top: 20px;
    right: 100px;
}

.présentation{
    position: absolute;
    top:100px;
    left: 45%;
    font-family: "Inknut Antiqua";
    text-decoration: underline; 
}
.text-1{
    position: absolute;
    display: flex; 
    right: 600px;
    top: 200px;
    width: 700px;
    font-family: "Inknut Antiqua"; 
    animation-name: slidein;
    animation-duration: 5s;
    color: #f0ebe1;
}

/* média query pour les écrans  */
@media (min-width: 1024px){

    .header{
        padding: 30px;
        text-align: center; 
    }
    .titre-principal{
        font-size: 3rem;

    }
    .image img{
        max-width: 45%;
        height: auto;
    }
    .navigation ul{
        display: flex;
        justify-content: center; 
        padding: 0;
        margin: 0; 
        list-style: none;
    }
    .navigation li{
        margin: 0 20px;
    }
    section{
        padding: 40px;
    }
    .présentation{
        font-size: 2em; 
        line-height: 1.5;
    }

}
