@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');

*{
    background-color: #79846e;
}

h1{
    font-family: "Playwrite MX"; 
    color: #e2e0d1; 
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize; 
}

.information{
    font-family: "Inknut Antiqua"; 
    text-align: center; 
    border: 1px solid #FFF; 
    width: 500px;
    margin: 0 auto; 
}

li{
    list-style: none; 
}

